# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.ipch
*.vsidx
*.vsidx
*.vsidx
.vs/testing/FileContentIndex/78141380-4852-4851-88cc-9ae83736a084.vsidx
.vs/testing/FileContentIndex/cf6882c6-23c1-49b0-b34e-e078ee20a3c7.vsidx
.vs/testing/FileContentIndex/read.lock
.vs/testing/v17/.suo
*.db
*.db-shm
*.db-wal
*.opendb
*.json
*.command
*.log
*.recipe
*.ilk
*.tlog
testing/x64/Debug/testing.vcxproj.FileListAbsolute.txt
*.idb
*.pdb
*.vsidx
